
*{
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    
}
:root{
    /*primary*/
    --Softorange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    /*neutral*/
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}
body{
    height: 100%;    
    width: 100%;
    display: grid;
    place-items: center;
    justify-content: center;
    background: var(--Off-white);
}
.container{
    background:var(--Off-white);
    width: 100%; 
    max-width: 1440px;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    
}
.page__wrapper{
    margin: 4rem 9rem 7rem 9rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}
header .page__menu ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
header .page__menu ul li{
    list-style: none;   
}
header .page__menu ul li a{
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    font-weight: 500;
}

header .page__menu ul li a:hover{
    color: var(--Soft-red);
    cursor: pointer;
}
.page__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 15rem;
    width: 100%;
    margin: 0 auto;
    grid-gap: 30px;
}
main{
    grid-column: 1/4;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 15rem;
    width: 100%;
    margin: 0 auto;
    grid-gap: 30px;
}
.main__page .desktop__img{
    grid-column: 1/3;
    grid-row: 1/2;
}
.desktop{
    display: block;
}
.mobile{
    display: none;
}
.main__page .desktop__img img{
    
    width: 100%;
    height: auto;
    max-height: 15rem;
}


main .hero__main{
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 20px;
    
}
main .hero__main .hero__main__title{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
main .hero__main h1{
    width: 100%;
    height: max-content;
    font-size: 55px;
    font-weight: 900;
    color: var(--Very-dark-blue);

}
main .hero__main .hero__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
main .hero__main .hero__info p{
    color: var(--Dark-grayish-blue);
    font-weight: 500;
}
button{
    padding: 15px;
    width: 50%;
    border: none;
    background: var(--Soft-red);
    color: var(--Off-white);
    text-transform: uppercase;
    letter-spacing: 4px;
}
button:hover{
    background: var(--Very-dark-blue);
    cursor:pointer
}
main .side__main{
    grid-column: 3/4;
    grid-row: 1/3;
    background: var(--Very-dark-blue);
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    
}

main .side__main h1{
    
    color: var(--Softorange);
    font-size: 35px;
    font-weight: 600;
}

main .side__main h2{
    color: var(--Off-white);
    padding-bottom: 10px;
    font-weight: 800;
}

main .side__main h2:hover{
    cursor: pointer;
    color: var(--Softorange);
}
main .side__main p{
    color: var(--Grayish-blue);
    
}
main .side__main .bar{
    width: 100%;
    border: .1px solid var(--Dark-grayish-blue);
}
footer{
    grid-column: 1/4;
    grid-row: 3/4;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}   
footer .footer__site{
    display: flex;
    flex-direction: row;
    gap: 15px;

}

footer .footer__site img{
    display: block;
    width: 8rem;
    height: 8rem;
}
footer .footer__site .site__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .footer__site .site__info h1{
    color: var(--Grayish-blue);
    font-size: 30px;
}
footer .footer__site .site__info h2{
    color: var(--Very-dark-blue);
    font-weight: 800;
}
footer .footer__site .site__info h2:hover{
    color: var(--Soft-red);
    cursor: pointer;
}

footer .footer__site .site__info p{
    color: var(--Dark-grayish-blue);
    font-weight: 500;
}

@media screen and (max-width:375px) {
    body{

        max-width: 375px;
    }
    .container{
        width: 100%;
        max-width: 375px;
        padding: 10px;
   
    }
    .page__wrapper{
        width: 100%;
        margin: 10px 20px 20px 20px;
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    
    header .page__menu{
        background: var(--Off-white);                
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 70vw;
        height: 100%;
        margin: 0;
        right: 0;
        position: absolute;
        display: none;
        z-index: 0;
 
    }
    header .page__menu .page__menu__links{
        display: flex;
        flex-direction: column;
        justify-content: left;
        justify-content: center;
        margin-top: 30vw;

                  
    }
    .page__menu.active{
        display:block;
        
    }

    #mobile__menu{
        position:absolute;
        top:30px;
        right: 0%;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;
        padding-right: 1rem;
        gap: 5px;
        width: 100%;      
        max-width: 250px;
        z-index: 1;
    }

    .navbar__toggle .toggle__bar{
        display: block;
        cursor: pointer;
        background: var(--Very-dark-blue);
        width: 30px;
        height: 3px;
        transform: all 0.3s ease-in-out;
    }

    #mobile__menu.is-active .toggle__bar:nth-child(2){
        opacity: 0;
    }

    #mobile__menu.is-active .toggle__bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        
    }
    #mobile__menu.is-active .toggle__bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        
    }
    
    .page__grid{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        padding-bottom: 30px;
   
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }

    .main__page .desktop__img img{
    
        width: 100%;
        height: auto;
        max-height: 50vh;
    }
    
    main{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap:20px;

    }

    main .hero__main{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    main .hero__main .hero__info{
        gap: 1rem;
    }
    button{
        margin-top:15px;
        margin-bottom:30px;
    }
    
    main .hero__main h1{
        font-size: 40px;
    }
    main .side__main{
        padding: 20px 15px;;
        
    }
    footer{
        display: flex;
        flex-direction: column;
    }
}